@import 'tailwindcss';
@import '@nextagram/nextagram-shared-ui/styles.css';

@source '../../../../../libs/nextagram';

@theme {
	--default-font-family: var(--font-inter);

	--color-separator: var(--color-neutral-300);

	--spacing-sidebar: 18rem;
	--spacing-sidebar-collapsed: 4.625rem;

	--spacing-post-width: 29.25rem;
	--spacing-post-height: 36rem;
}
